// ADD COLORS
$naive-teal: #63E2B7FF;
$n-success: #5ACEA7;
$n-warning: #E6C260;
$n-error: #E57272;
$n-info: #66AFD3;
$dark-border: rgba(255, 255, 255, 0.2);

// CUSTOM HELPERS
.text-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  transition: text-decoration 5s;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
